@import "minima/skins/classic", "minima/initialize";

/* Main text */
body {
  color: #2C2C2C;
  font-weight: 400;
}

/* Links */
a {
  color: #1F3A5F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3 {
  color: #0B3C5D;
}

/* Navbar */
.site-header {
  background-color: #003366;
  color: white;
  border-bottom: 1px solid #003366;
}

.site-header a {
  color: white;
}

.site-header a:hover {
  color: #cccccc;
}