---
---
@import "minima/initialize";

/* Main text */
body {
  color: #2C2C2C;
  font-weight: 400;
}

/* Links */
a {
  color: #1F3A5F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3 {
  color: #0B3C5D;
}

/* Navbar */
.site-header {
  background-color: #003366 !important;
  color: white !important;
  border-bottom: 1px solid #003366 !important;
}

.site-header .site-title a,
.site-header .site-nav a {
  color: white !important;
}

.site-header .site-title a:hover,
.site-header .site-nav a:hover {
  color: #cccccc !important;
}